*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #c9edf1;
}
@media  screen and (min-width: 350px) and (max-width: 850px){
    body{
        
    }
}

.sub-header{
    background-color: #F06868;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
}


p{
    color: #E7F7F9;
    font-family: sans-serif;
}
@media  screen and (min-width: 350px) and (max-width: 750px){
    .sub-header .email{
        display: none;
    }
}

.nav-bar{
    background-color: rgba(58.05, 70.10, 93.50, 0.84);
    display: flex;
    justify-content: space-between;
    padding: 1.7rem;
    font-family: sans-serif;
}

.logo{
    display: flex;
    color: #E7F7F9;
    font-weight: 700;
}

.logo .first-logo{
    color: #F06868;
    font-family: fantasy;
}

.nav-list ul{
    display: flex;
    gap: 6rem;
}


.nav-list ul li{
    text-decoration: none;
    list-style: none;
}
.nav-list ul li a{
    text-decoration: none;
    list-style: none;
    color: #E7F7F9;
}

.container{
    background-color: #E7F7F9;
    border-radius: 10px;
    
    width: 90%;
    margin: 0rem 5%;
    filter: none;
    box-shadow: 5px 5px 5px #b3c6c9;
    padding: 2rem;
}

@media  screen and (min-width: 350px) and (max-width: 850px) {
    .container .first-layer-text{
        font-size: 10px;
        display: grid;
    }
    .back-btn{
        font-size: 10PX;
        display: none;
    }
    .label{
        padding: 0rem 0.1rem;
        width: fit-content;
    }
    .back-image{
        width: 1.1rem;
        height: 1rem;
    }
    .time{
        font-size: 10px;
        margin-bottom: 1rem;
    }
    .num{
        font-weight: 700;
        font-size: 11px;
    }
}

.first-layer-text{
    display: flex;
    gap: 1.5rem;
    font-size: 12px;
}

.back-btn{
    border-style: none;
    background: none;
}

.back-btn a{
    color: #F06868;
    text-decoration: none;
}

.back-image{
    width: 1.1rem;
}

.num{
    color: black;
}

.label{
    background-color: rgb(0, 255, 149);
    padding: 0rem 0.3rem;
    border-radius: 2px;
    letter-spacing: 0.1rem;
}

.second-line-text{
    font-size: 12px;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: space-between;
}
@media  screen and (min-width: 350px) and (max-width: 850px){
    .second-line-text{
        display: grid;
    }
    .opp-time{
        width: fit-content;
        font-weight: 700;
    }
    .end{
        font-size: 15px;
    }
}

.second-line-text .opp-time{
    background-color: #F06868;
    color: #E7F7F9;
    padding: 0.1rem  0.5rem;
    border-radius: 2px;
}

.header-text{
    color: #F06868;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.second-detail-text{
    display: flex;
    gap: 3rem;
}
@media  screen and (min-width: 350px) and (max-width: 850px){
    .second-detail-text{
        font-size: 15px;
    }
    .third-text p{
        font-size: 12px;
    }
}

@media  screen and (min-width: 350px) and (max-width: 850px){
    .ship2{
        font-size: 15px;
    }
}

.ship p{
    color: black;
}

.ship .light-text{
    font-weight: lighter;
}

.ship .dark-text{
    font-weight: 700;
}

.ship2 .light-text{
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

.ship2 .dark-text{
    font-weight: 700;
    letter-spacing: 0.2rem;
}
