*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(58.05, 70.10, 93.50, 0.84);
}

@media  screen and (min-width: 350px) and (max-width: 850px){
        .sub-header .email{
            display: none;
        }
        .nav-bar{
            width: 100%;
        }
        .about{
            display: none;
        }
        .login-form form input{
            border-style: solid;
            border-radius: 5px;
            background-color: transparent;
            padding: 0rem 1rem;
        }
}

.sub-header{
    background-color: #F06868;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
}

p{
    color: #E7F7F9;
    font-family: sans-serif;
}

.nav-bar{
    background-color: rgba(58.05, 70.10, 93.50, 0.84);
    display: flex;
    justify-content: space-between;
    padding: 1.7rem;
    
}

.logo{
    display: flex;
    color: #E7F7F9;
    font-weight: 700;
}

.logo .first-logo{
    color: #F06868;
    font-family: fantasy;
}

.nav-list ul{
    display: flex;
    gap: 6rem;
}


.nav-list ul li{
    text-decoration: none;
    list-style: none;
}
.nav-list ul li a{
    text-decoration: none;
    list-style: none;
    color: #E7F7F9;
}

.login-form{
    background-color: #F06868;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    position: absolute;
    top: 20%;
    padding: 3rem 0;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 5px rgba(15, 18, 24, 0.84);
}

@media  screen and (min-width: 350px) and (max-width: 850px){
    .login-form{
        width: 100%;
        margin-left: -0.1%;
        background-color: #e7f7f9c0;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .login-form h2{
        color: rgba(58.05, 70.10, 93.50, 0.84);
    }
    .footer1{
        display: none;
    }
    .divider{
        display: none;
    }
    .sub-text{
        color: #F06868;
    }
}

.login-form .logo{
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: black;
}

h2{
    color: #E7F7F9;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
}

.sub-text{
    font-size: 0.8rem;
}

.divider{
    color: #c7e5e9;
    height: 5rem;
}

footer{
    background-color: black;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

footer .footer1{
    color: #c7e5e9;
}

.footer-header-text{
    color: #F06868;
    font-size: 19px;
}

.footer-regular-text{
    padding: 1rem 0;
    width: 20%;
}

.footer1 .footer-regular-text a{
    text-decoration: none; 
    color: #c7e5e9;
    letter-spacing: 0.2rem;
}
