*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
  }
  
  body{
    background-color: rgb(22, 0, 83);
  }
  
  .sub-header{
    background-color: #F06868;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
  }
  
  p{
    color: #E7F7F9;
    font-family: sans-serif;
  }
  
  .nav-bar{
    background-color: rgb(22, 0, 83);
    display: flex;
    justify-content: space-between;
    padding: 1.7rem;
    font-family: sans-serif;
  }
  
  @media  screen and (min-width: 350px) and (max-width: 850px){
    body{
        background-color: rgb(22, 0, 83);
    }
    .email{
        display: none;
    }
    /* .nav-list{
        display: none;
    } */
    .logo{
        font-size: 13px;
    }
    .nav-bar{
        padding: 1rem;
    }
    .first-breach marquee{
        display: none;
    }
    .our-services{
        font-size: 15px;
        color: #e3e0fa;
    }
    .sub-header{
      background-color: rgb(2, 2, 32);
      font-size: 8px;
      height: 1.4rem;
    }
    .sub-header img{
      background-color: #c9c2f8;
      border-radius: 8px;
    }
  }
  
  @media screen and (min-width:350px) and (max-width: 500px) {
    .first-container h2{
        font-size: 15px;
        margin-top: -20%;
    }
  }
  
  @media screen and (min-width:500px) and (max-width: 700px) {
    .first-container h2{
        font-size: 10px;
        margin-top: -10%;
    }
    
  }
  
  .logo{
    display: flex;
    color: #E7F7F9;
    font-weight: 700;
  }
  
  .logo .first-logo{
    color: #F06868;
    font-family: fantasy;
  }
  
  .nav-list{
    
  }
  
  .nav-list ul{
    display: flex;
    gap: 6rem;
  }
  
  .nav-list ul li{
    text-decoration: none;
    list-style: none;
  }
  .nav-list ul li a{
    text-decoration: none;
    list-style: none;
    color: #c7e5e9;
  }
  
  h1{
    color: rgb(22, 0, 83);
    padding: 1rem;
    letter-spacing: 0.5rem;
  }
  .form{
    text-align: center;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    border-radius: 2.5rem;
    letter-spacing: 0.2rem;
    font-size: 13px;
  }
  
  .form input{
    padding: 0.5rem;
    margin: 0.7rem;
    font-size: 15px;
    width: 90%;
    letter-spacing: 0.09rem;
    color: rgb(22, 0, 83);
    border-radius: 5rem;
    border-width: 1px;
    border-color: #1e90ff;
    height: 2.5rem;
  }
  
  /* .form button{
    padding: 0.5rem;
    letter-spacing: 0.2rem;
    margin: 1rem;
    background-color: rgb(2, 2, 32);
    color: #c9c2f8;
    border-radius: 0.3rem;
  } */
  
  .form button a{
    text-decoration: none;
    color: #c9c2f8;
  }

  .glow-button {
    padding: 15px 30px;
    font-size: 13px;
    color: white;
    background-color: #1e90ff;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 10px #1e90ff, 0 0 20px  #F06868, 0 0 40px #1e90ff;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.glow-button a{
    color: white;
    font-size: 14px;
}

.glow-button:hover {
    box-shadow: 0 0 40px #F06868, 0 0 80px #1e90ff, 0 0 120px #1e90ff;
    transform: scale(1.05);
}